body {
  background-color: rgb(199, 199, 199);
  margin: 0;
  overflow-x: hidden;
}
* {
  box-sizing: border-box;
}
.container {
  z-index: -1;
  width: 100%;
  background-color: rgb(196, 196, 196);
}
.content {
  z-index: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  padding: 10px 20vw;
  background-color: rgb(255, 255, 255);
  transform-origin: left top;
  transition: all ease-in-out 0.5s;
}
.show .content {
  transform: rotate(-30deg);
}
.illustration {
  width: 40%;
}
.circle {
  z-index: 2;
  position: fixed;
  height: 200px;
  width: 200px;
  background-color: rgb(255, 133, 133);
  border-radius: 100px;
  top: -100px;
  left: -100px;
  transition: all ease-in-out 0.5s;
}
.circle > i {
  position: absolute;
  width: 100px;
  height: 100px;
  right: 0;
  bottom: 0;
  font-size: 40px;
  padding: 20px 20px;
  font-weight: 1000;
  cursor: pointer;
}
.icon-close {
  transform-origin: left top;
  transform: rotate(90deg);
}
.show .circle {
  transform: rotate(-90deg);
}
.set-list {
  position: fixed;
  bottom: 20px;
  left: 0;
}
.set-list > li {
  z-index: 0;
  list-style: none;
  font-size: 30px;
  font-weight: 800;
  margin-top: 30px;
  transition: all 0.3s;
  transform: translate(-200px);
}
.show .icon-like {
  transition: all 0.5s 0.2s;
  transform: translateX(-20px);
}
.show .icon-people {
  transition: all 0.5s 0.2s;
  transform: translateX(0px);
}
.show .icon-homepage {
  transition: all 0.5s 0.2s;
  transform: translateX(20px);
}
