body {
  margin: 0;
  overflow: hidden;
}
.container {
  display: flex;
  justify-content: center;
}

.right,
.left {
  position: relative;
  flex: 1;
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 0;
  transition: all ease-in-out 1s, z-index 0s 0.5s;
}
.right {
  background-image: url("/asset/imgs/2.jpg");
}
.left {
  background-image: url("/asset/imgs/3.jpg");
}

.buy {
  z-index: 2;
  border: none;
  height: 80px;
  width: 180px;
  background-color: rgba(255, 255, 255, 0.259);
  font-size: 40px;
  color: white;
  cursor: pointer;
  border: 5px solid white;
}
.buy:hover {
  background-color: rgb(255, 255, 255);
  color: black;
}
.mask {
  position: absolute;
  opacity: 50%;
  height: 100%;
  width: 100%;
}
.left .mask {
  background-color: rgb(158, 114, 88);
}
.right .mask {
  background-color: rgb(131, 131, 255);
}

.left:hover,
.right:hover {
  transition: all 1s ease-in-out;
  flex: 3;
  box-shadow: 0 0 10px 7px rgba(0, 0, 0, 0.386);
  z-index: 1;
}
